<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_Link0" type="revolute">
       <parent link="Torso"/>
       <child  link="Link0"/>
       <origin rpy="0 0 0" xyz="0 0 0.25" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link0">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25035954477062883 0.8515481475687314 0.15966781106368766" />
            </geometry>
            <material name="Cyan">
            <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25035954477062883 0.8515481475687314 0.15966781106368766" />
            </geometry>
        </collision>
    </link>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.36212837443711354 0.7085540419145717 0.6266498490082001" />
            </geometry>
            <material name="Cyan">
            <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.36212837443711354 0.7085540419145717 0.6266498490082001" />
            </geometry>
        </collision>
    </link>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11906043403904931 0.7595176904843927 0.5839159533663543" />
            </geometry>
            <material name="Green">
            <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11906043403904931 0.7595176904843927 0.5839159533663543" />
            </geometry>
        </collision>
    </link>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5490186187378049 0.784825354970473 0.18351420018615905" />
            </geometry>
            <material name="Green">
            <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5490186187378049 0.784825354970473 0.18351420018615905" />
            </geometry>
        </collision>
    </link>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7337219516013861 0.4335525484633346 0.9282000664982518" />
            </geometry>
            <material name="Green">
            <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7337219516013861 0.4335525484633346 0.9282000664982518" />
            </geometry>
        </collision>
    </link>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8768525055944215 0.27127149212177537 0.24060921535521929" />
            </geometry>
            <material name="Cyan">
            <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8768525055944215 0.27127149212177537 0.24060921535521929" />
            </geometry>
        </collision>
    </link>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7967796715119219 0.2783063108816871 0.8118541121455675" />
            </geometry>
            <material name="Green">
            <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7967796715119219 0.2783063108816871 0.8118541121455675" />
            </geometry>
        </collision>
    </link>
    <link name="Link7">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47144920392114686 0.26741127032680423 0.9846659838018422" />
            </geometry>
            <material name="Cyan">
            <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47144920392114686 0.26741127032680423 0.9846659838018422" />
            </geometry>
        </collision>
    </link>
    <link name="Link8">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28759764059577186 0.8195773308321246 0.8477842117620147" />
            </geometry>
            <material name="Cyan">
            <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28759764059577186 0.8195773308321246 0.8477842117620147" />
            </geometry>
        </collision>
    </link>
    <link name="Link9">
        <inertial>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37946314607698606 0.21475279496932276 0.16625389930333734" />
            </geometry>
            <material name="Cyan">
            <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37946314607698606 0.21475279496932276 0.16625389930333734" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link7_Link8" type="revolute">
       <parent link="Link7"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Link8_Link9" type="revolute">
       <parent link="Link8"/>
       <child  link="Link9"/>
       <origin rpy="0 0 0" xyz="0 0.5 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>